<div data-section-id="{{ section.id }}" data-section-type="instagram-feed">
  <div class="page-width">
    <div class="instagram-feed">
      <div class="section-header text-center">
        {%- if section.settings.header != blank -%}
          {%- if section.settings.link != blank -%}
            <a href="{{ section.settings.link }}" target="blank">
          {%- endif -%}
          <h1>{{ section.settings.header }}</h1>
          {%- if section.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}

        {%- if section.settings.subheader != blank -%}
          <p class="text-center">{{ section.settings.subheader}}</p>
        {%- endif -%}
      </div>

      <div id="InstagramFeed-{{ section.id }}" class="grid {% unless section.settings.padding %}grid--no-gutters{% endunless %}"
           {% if section.settings.user_id != blank %}data-user="{{ section.settings.user_id }}"{% endif %}
           {% if section.settings.access_token != blank %}data-token="{{ section.settings.access_token }}"{% endif %}
           {% if section.settings.limit != blank %}data-limit="{{ section.settings.limit }}"{% endif %}
           >
        <div class="instagram-feed__wrapper"></div>
      </div>
      <script class="instagram-feed__template" type="text/html">
        <div class="instagram-feed__image grid__item small--{{ section.settings.small }} medium-up--{{ section.settings.width_medium }} large-up--{{ section.settings.width_large }}">
          <a href="{% raw %}{{link}}{% endraw %}" class="instagram-feed__image-link"><img src="{% raw %}{{image}}{% endraw %}" /></a>
        </div>
      </script>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Instagram Feed",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "user_id",
      "label": "User ID"
    },
    {
      "type": "text",
      "id": "access_token",
      "label": "Access Token"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Instagram"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Subheader",
      "info": "Shown above images"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Text link"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "text",
      "id": "limit",
      "label": "Number of Images",
      "info": "Optional limit"
    },
    {
      "type": "select",
      "id": "width_small",
      "label": "Single photo size - Small Screen",
      "options": [
        {
          "value": "one-half",
          "label": "half - 50%"
        },
        {
          "value": "one-whole",
          "label": "whole - 100%"
        }
      ]
    },
    {
      "type": "select",
      "id": "width_medium",
      "label": "Single photo size - Medium Screen",
      "options": [
        {
          "value": "one-sixth",
          "label": "sixth - 16.666%"
        },
        {
          "value": "one-fifth",
          "label": "fifth - 20%"
        },
        {
          "value": "one-quarter",
          "label": "quarter - 25%"
        },
        {
          "value": "one-third",
          "label": "third - 33.333%"
        },
        {
          "value": "one-half",
          "label": "half - 50%"
        },
        {
          "value": "one-whole",
          "label": "whole - 100%"
        }
      ]
    },
    {
      "type": "select",
      "id": "width_large",
      "label": "Single photo size - Large Screen",
      "options": [
        {
          "value": "one-eighth",
          "label": "eighth - 12.5%"
        },
        {
          "value": "one-sixth",
          "label": "sixth - 16.666%"
        },
        {
          "value": "one-fifth",
          "label": "fifth - 20%"
        },
        {
          "value": "one-quarter",
          "label": "quarter - 25%"
        },
        {
          "value": "one-third",
          "label": "third - 33.333%"
        },
        {
          "value": "one-half",
          "label": "half - 50%"
        },
        {
          "value": "one-whole",
          "label": "whole - 100%"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "padding",
      "label": "Enable image padding"
    }
  ],
  "presets": [{
    "name": "Instagram Feed",
    "category": "Image"
  }]
}
{% endschema %}
